export class {{pluginName}}Service {
  async list() {
    return [];
  }
  
  async create(data: any) {
    return data;
  }
  
  async update(id: string, data: any) {
    return { id, ...data };
  }
  
  async delete(id: string) {
    return { id };
  }
}
